---
title: Imitation Jewellery
hero: Best reseller price in the market (COD Available)
subtitle: Bulk order, good discounts available.
---

<div class="content" id="products">
	<section>
		<div class="container">
			<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_long_chains" class="btn"><strong>&#9998;</strong> Manage products</a></p>
			<ul class="product-list">
				{% for long_chain in site.long_chains %}
					<li>
						{% include product-styles.html product=long_chain %}
						<div class="product-details">
							<h4><a href="{{ long_chain.url }}">{{ long_chain.name }}</a></h4>
							<div class="product-description">
								{{ long_chain.description_markdown | truncate: 45 | markdownify }}
							</div>
							<p>₹{{ long_chain.price }}</p>
						</div>
					</li>
				{% endfor %}
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div>
	</section>
</div>